<%= javascript_include_tag 'records' %>
<!-- Main -->
<section id="records">
<div class="container-fluid">
    <div class="row">
        <%= render :partial => "sidebar" %>
		<div class="recordsContent col-sm-9">
			
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->
</section>