// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

	overflow-x: hidden;
}

body, #navbar{

	min-width:320px;
}

img.menu_icon{
	
	float:left;
	margin:-7px 10px 0 10px;
}

nav.menu{
	
	min-height:45px;
}

div.menu{
	
	/*margin-top:-5px;*/

}

#title_container{
	
	font-size: 45px;
	color: white;
	text-shadow: -1px 0 #F1772E, 0 2px #F1772E, 2px 0 #F1772E, 0 -1px #F1772E;
	white-space: nowrap;
	text-align: center;
}

#banner{
	
  	margin-left: auto;
  	margin-right: auto;
  	background-image: image-url("banner.png");
  	background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center center;

}

.fa-chevron-left:hover, .fa-chevron-right:hover{
	
	color: rgba(255,255,255,0.8);

}

#news{
	
	width:100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

#news:after{
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: image-url("bat.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}


div.panel{
	background:rgba(255,255,255,0.3);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F1772E;
}

.table thead tr th {
   text-align: center;   
}

#tabs_top5 {
	
	width: 80%;
	margin: 50px auto 0px auto;
}

#panel_battingTop5 > ul, #panel_pitchingTop5 > ul{
	
	overflow-x: auto;
	overflow-y:hidden;
}

@media(min-width:768px){
	
	.navbar-brand{
	
		margin-left: -20px !important;
	}
}

@media(max-width:767px) {
	/*
	.intro{
		margin-top:52px;
	}
	*/
	
	body{
		
		font-size:1.2em !important;
	}

	.nav-justified > li {
    	display: table-cell !important;
  	}
  	
  	#tabs_standings *, #tabs_top5 *{

		overflow-x: auto;
		overflow-y:hidden;
	}

	#ul_about, #list{
	
		//margin-left:auto;
		//margin-right:auto;
		overflow-x: auto;
  		overflow-y: hidden;
  		display: -webkit-box;
  		display: -moz-box;
  		//display: inline-block;

	}

	#ul_about > li, #list > li {
		
		display: table-cell !important;
		overflow-x:auto;
		overflow-y:hidden;
		float:none;
	}

	#practice, #infoSource, #forFresh, #reference{
	
		margin-top:50px;
		margin-left:20px;
		margin-right:20px;
	}

}

a.page-scroll{

	font-weight: bold;
}

a.menuLink{
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul.ul_menu > li.active > a{
	
	text-shadow: none;
}

#icon_news, #icon_albums, #icon_photos, #icon_roster{
	
	margin:0 auto 10px auto;
}

#panel_last5, #panel_standings, #panel_battingTop5, #panel_pitchingTop5{

	margin-top:5px;
}

#panel_last5 * table > tbody > tr > td > a{
	
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#panel_last5 * table > tbody > tr > td > a:hover{
	
	color: blue;
	text-shadow: none;
}

#div_news{
	
	margin-bottom:20px;
}

div.tabbable > ul > li > a{
	
	color: #FFFFFF;

}

div.tabbable > ul > li > a:hover, div.tabbable > ul > li > a:focus{
	
	color: red;
	background-color: rgba(255,255,255,0.5);
}

div.tabbable > ul > li.active > a{
	
	color: #F1772E;
	background-color: #FFFFFF;

}

div.tabbable > ul > li.active > a:hover, div.tabbable > ul > li.active > a:focus{
	
	color: #F1772E;
	background-color: #FFFFFF;
}

/*--------------------------------------*/

div.blueTab > ul > li > a{
	
	color: #FFFFFF;
}

div.blueTab > ul > li > a:hover, div.blueTab > ul > li > a:focus{
	
	color: #FFFFFF;
	background-color: rgba(0,0,255,0.5);
}

div.blueTab > ul > li.active > a{
	
	color: #FFFFFF;
	background-color: blue;
}

div.blueTab > ul > li.active > a:hover, div.blueTab > ul > li.active > a:focus{
	
	color: #FFFFFF;
	background-color: blue;
}

#tabs_standings *, #tabs_top5 *{
	
	vertical-align:middle;

}

#tabs_standings * td, #tabs_standings * a, #tabs_top5 * td, #tabs_top5 * a, #ul_about * a, #list * a{

	white-space: nowrap;
	text-align: center;
}

.fa-fw {width: 1em;}

#ul_about > li > a{
	
	font-size: 16px;
	color: white;
}

#ul_about > li > a:hover{
	
	font-size: 16px;
	color: white;
	background-color: rgb(168,166,164);
}

#practice, #infoSource, #forFresh, #reference{
	
	text-align:left;
}

#practice > p, #infoSource > p, #forFresh > p, #reference > p{
	
	font-size: 18px;
}

#fa_map, #fa_active, #fa_nonactive{
	
	float:left;
	margin-right:10px;
}

hr.soften {
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  border: 0;
  margin-bottom: 50px;
}

#tabpanel_about{
	
	margin-top:50px;
}

#about{
	
	width:100%;
	position: relative;
	background-image: image-url("about.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}


#about_row, #news_row, #albums_row, #photos_row, #roster_row{  
	
	padding: 5% 5%;
	margin: 0 0;
}

#map{
	
	width:100%;
	height:100%;
	color: black;
}

.overlay div{
	
	pointer-events: none;
}

.map_description{
	
	font-size:12px!important;
	margin-top:20px;
}

#panel_map{
	margin: 0 auto;
}

#list{
	
	margin-bottom: 10px;
}

#list > li > a{
	
	color: #CCCCCC;
	font-size:15px;
}

#list > li > a:hover, #list > li > a:focus{
	
	background: #4169E1;
	color: white;
}

p.about_title{
	
	color:#FF3385;
	font-weight:bolder;
}

p.about_text{
	
	padding-left:1em;
}

#forFresh > ul > li > p, #reference > ul > li > p{
	
	margin-bottom:10px;
}

#about * p > a:hover {
	
	color: red;
}

#albums{
	
	width:100%;
	position: relative;
	background-image: image-url("softball_background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

#albums * a:hover{
	
	color: red;
}

td.text_date{
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

td.text_item{
	
	text-shadow: 1px 1px #FFFFFF;
}

#photos{
	
	width:100%;
	position: relative;
	
	/*background-color: #000000;*/
	
	background-image: image-url("background2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

// Collage Plus

.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
    border:6px solid #FFF;
}


/* In this example, this is the main item being resized */
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
}

.top5_description{
	
	font-size:14px;
}

.top5photo{
	
	width: 25%;

}

#roster{
	
	width:100%;
	position: relative;
	background-image: image-url("ntu_w.jpg");
	//background-color: #4b3f72;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.roster_title{
	
	color: rgb(153,0,153);
	text-shadow: 1px 1px #FFFFFF;
	
}

.roster_age{
	
	color:rgb(0,179,0);
	font-size:1.2em;
	margin:0 0 0px;
	font-weight: bold;
	text-shadow: 1px 1px rgb(50,50,50);
}

.roster_number{
	
	color:rgb(255,102,0);
	font-size:1.2em;
	margin:0 0 0px;
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.roster_name, .roster_name > a{
	
	color:rgb(0,12,186);
	font-size:1.1em;
	margin:0 0 0px;
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}