// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#records{
	
	background: white;
	padding-top: 25px;
	padding-bottom: 20px;
	color: black;
}

#records * h1, #records * h2, #records * h3, #records * h4{
	
	margin: 0 0;
	text-transform: none;
}

.icon_sidebar{
	
	width: 1em;
}

#records * div.table-responsive{
	border-radius: 5px;
}

#records_sidebar{
	
	padding-bottom: 30px;
}

#records_sidebar * {
	
	color: #777777;
}

.div_Btn_menu{
	margin-bottom:20px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
	
	#records{
		
		overflow: hidden;
	}
	
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-left.active {
		//left: 0;
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		transform: translateX(50%);
		
	}

	.sidebar-offcanvas {
		position: absolute !important;
		width: 50%;
		top: -25px;
		left: -50%;
		padding-top: 25px;
		//margin-left: 12px;
		padding-right:12px;
		background-color: #333333;
		
	}
	
	.sidebar-offcanvas * {
		color: rgba(255, 255, 255, 0.7) !important;
	}
	
	.recordsContent{
		padding-left: 25px !important;
	}
	
	.sidebar-offcanvas * a:hover, .sidebar-offcanvas * a:focus{
		background-color: #242424 !important;
		color: white !important;
	}
}


#table_game_oneyear > thead > tr > th, #table_game_oneyear > tbody > tr > td{
	
	text-align: center;
	vertical-align: middle;
}

#table_game_oneyear > thead > tr > th,
#table_batting_all_summary > thead > tr > th,
#table_batting_vs1 > thead > tr > th,
#table_batting_vs2 > thead > tr > th,
#table_batting_player > thead > tr > th,
#table_batting_player3PA > thead > tr > th,
#table_batting_playerDetail > thead > tr > th,
#table_pitching_all_summary > thead > tr > th,
#table_pitching_all_IP > thead > tr > th,
#table_pitching_player > thead > tr > th,
#table_pitching_playerIP > thead > tr > th,
#table_pitching_playerDetail > thead > tr > th,
#table_pitching_playerEachYear > thead > tr > th,
#table_fielding_all_summary > thead > tr > th,
#table_fielding_playerByYearAndPos > thead > tr > th,
#table_fielding_playerByYear > thead > tr > th,
#table_fielding_playerByPOS > thead > tr > th,
#table_fielding_playerByYearAndIO > thead > tr > th,
#table_fielding_player > thead > tr > th,
#table_fielding_playerDetail > thead > tr > th,
#table_team_gamelist > thead > tr > th,
#table_team_batting_summary > thead > tr > th,
#table_team_pitching_summary > thead > tr > th,
#table_team_fielding_summary > thead > tr > th,
#table_cup_gamelist > thead > tr > th,
#table_cup_batting_summary > thead > tr > th,
#table_cup_pitching_summary > thead > tr > th,
#table_cup_fielding_summary > thead > tr > th,
#table_player_yearBatting > thead > tr > th,
#table_player_yearBatting3PA > thead > tr > th,
#table_player_yearBattingPercent > thead > tr > th,
#table_player_BattingClassified > thead > tr > th,
#table_player_Fielding > thead > tr > th,
#table_player_yearPitching > thead > tr > th,
#table_player_yearPitching5IP > thead > tr > th,
#table_player_yearPitchingClassified > thead > tr > th,
#table_player_BattingMax > thead > tr > th,
#table_player_PitchingMax > thead > tr > th,
#table_order_all > thead > tr > th,
#table_order_all_Summary > thead > tr > th,
#table_order_player_eachgame > thead > tr > th,
#table_order_player_eachorder > thead > tr > th,
#table_order_player_Summary > thead > tr > th,
#table_lucky > thead > tr > th,
#table_rider > thead > tr > th,
#table_continuity_batting > thead > tr > th,
#table_continuity_fielding > thead > tr > th,
#table_continuity_pitching > thead > tr > th,
table[id^='table_max_'] > thead > tr > th,
table[id^='table_latest_'] > thead > tr > th
{
	
	background:rgba(192,192,192,0.7);
}

#div_game_oneyear,
#div_batting_playerDetail,
#div_pitching_playerDetail,
#div_pitching_playerEachYear,
#div_team_gamelist,
#div_cup_gamelist{
	
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#table_game_scoreboard{
	
	background:#30334F;
	color: white;
	font-size: 1.2em;
}

#table_game_scoreboard > tbody > tr > td:not(.board){
	
	text-align: center;
	vertical-align: middle;
	border-top: none !important;
	
}

img.teamLogo{
	
	//border-radius: 10px;
	//padding: 10px 10px;
	//border: 1px solid #e3e3e3;
}

#table_game_battingAway > thead > tr > th, #table_game_battingAway > tbody > tr > td, #table_game_battingAway > tfoot > tr > td,
#table_game_battingHome > thead > tr > th, #table_game_battingHome > tbody > tr > td, #table_game_battingHome > tfoot > tr > td,
#table_game_pitchingAway > thead > tr > th, #table_game_pitchingAway > tbody > tr > td, #table_game_pitchingAway > tfoot > tr > td,
#table_game_pitchingHome > thead > tr > th, #table_game_pitchingHome > tbody > tr > td, #table_game_pitchingHome > tfoot > tr > td,
#table_game_fieldingAway > thead > tr > th, #table_game_fieldingAway > tbody > tr > td, #table_game_fieldingAway > tfoot > tr > td,
#table_game_fieldingHome > thead > tr > th, #table_game_fieldingHome > tbody > tr > td, #table_game_fieldingHome > tfoot > tr > td,
#table_batting_all_summary > thead > tr > th, #table_batting_all_summary > tbody > tr > td, #table_batting_all_summary > tfoot > tr > td,
#table_batting_vs1 > thead > tr > th, #table_batting_vs1 > tbody > tr > td,
#table_batting_vs2 > thead > tr > th, #table_batting_vs2 > tbody > tr > td,
#table_batting_player > thead > tr > th, #table_batting_player > tbody > tr > td,
#table_batting_player3PA > thead > tr > th, #table_batting_player3PA > tbody > tr > td,
#table_batting_playerDetail > thead > tr > th, #table_batting_playerDetail > tbody > tr > td,
#table_pitching_all_summary > thead > tr > th, #table_pitching_all_summary > tbody > tr > td,
#table_pitching_all_IP > thead > tr > th, #table_pitching_all_IP > tbody > tr > td,
#table_pitching_player > thead > tr > th, #table_pitching_player > tbody > tr > td,
#table_pitching_playerIP > thead > tr > th, #table_pitching_playerIP > tbody > tr > td,
#table_pitching_playerDetail > thead > tr > th, #table_pitching_playerDetail > tbody > tr > td,
#table_pitching_playerEachYear > thead > tr > th, #table_pitching_playerEachYear > tbody > tr > td,
#table_fielding_all_summary > thead > tr > th, #table_fielding_all_summary > tbody > tr > td, #table_fielding_all_summary > tfoot > tr > td,
#table_fielding_playerByYearAndPos > thead > tr > th, #table_fielding_playerByYearAndPos > tbody > tr > td,
#table_fielding_playerByYear > thead > tr > th, #table_fielding_playerByYear > tbody > tr > td,
#table_fielding_playerByPOS > thead > tr > th, #table_fielding_playerByPOS > tbody > tr > td,
#table_fielding_playerByYearAndIO > thead > tr > th, #table_fielding_playerByYearAndIO > tbody > tr > td,
#table_fielding_player > thead > tr > th, #table_fielding_player > tbody > tr > td, #table_fielding_player > tfoot > tr > td,
#table_fielding_playerDetail > thead > tr > th, #table_fielding_playerDetail > tbody > tr > td,
#table_team_gamelist > thead > tr > th, #table_team_gamelist > tbody > tr > td,
#table_team_batting_summary > thead > tr > th, #table_team_batting_summary > tbody > tr > td,
#table_team_pitching_summary > thead > tr > th, #table_team_pitching_summary > tbody > tr > td,
#table_team_fielding_summary > thead > tr > th, #table_team_fielding_summary > tbody > tr > td,
#table_cup_gamelist > thead > tr > th, #table_cup_gamelist > tbody > tr > td,
#table_cup_batting_summary > thead > tr > th, #table_cup_batting_summary > tbody > tr > td,
#table_cup_pitching_summary > thead > tr > th, #table_cup_pitching_summary > tbody > tr > td,
#table_cup_fielding_summary > thead > tr > th, #table_cup_fielding_summary > tbody > tr > td,
#table_player_yearBatting > thead > tr > th, #table_player_yearBatting > tbody > tr > td, #table_player_yearBatting > tfoot > tr > td,
#table_player_yearBatting3PA > thead > tr > th, #table_player_yearBatting3PA > tbody > tr > td, #table_player_yearBatting3PA > tfoot > tr > td,
#table_player_yearBattingPercent > thead > tr > th, #table_player_yearBattingPercent > tbody > tr > td, #table_player_yearBattingPercent > tfoot > tr > td,
#table_player_BattingClassified > thead > tr > th, #table_player_BattingClassified > tbody > tr > td,
#table_player_Fielding > thead > tr > th, #table_player_Fielding > tbody > tr > td, #table_player_Fielding > tfoot > tr > td,
#table_player_yearPitching > thead > tr > th, #table_player_yearPitching > tbody > tr > td, #table_player_yearPitching > tfoot > tr > td,
#table_player_yearPitching5IP > thead > tr > th, #table_player_yearPitching5IP > tbody > tr > td, #table_player_yearPitching5IP > tfoot > tr > td,
#table_player_yearPitchingClassified > thead > tr > th, #table_player_yearPitchingClassified > tbody > tr > td,
#table_player_BattingMax > thead > tr > th, #table_player_BattingMax > tbody > tr > td,
#table_player_PitchingMax > thead > tr > th, #table_player_PitchingMax > tbody > tr > td,
#table_order_all > thead > tr > th, #table_order_all > tbody > tr > td,
#table_order_all_Summary > thead > tr > th, #table_order_all_Summary > tbody > tr > td,
#table_order_player_eachgame > thead > tr > th, #table_order_player_eachgame > tbody > tr > td,
#table_order_player_eachorder > thead > tr > th, #table_order_player_eachorder > tbody > tr > td,
#table_order_player_Summary > thead > tr > th, #table_order_player_Summary > tbody > tr > td,
#table_lucky > thead > tr > th, #table_lucky > tbody > tr > td,
#table_rider > thead > tr > th, #table_rider > tbody > tr > td,
#table_continuity_batting > thead > tr > th, #table_continuity_batting > tbody > tr > td,
#table_continuity_fielding > thead > tr > th, #table_continuity_fielding > tbody > tr > td,
#table_continuity_pitching > thead > tr > th, #table_continuity_pitching > tbody > tr > td,
table[id^='table_max_'] > thead > tr > th, table[id^='table_max_'] > tbody > tr > td,
table[id^='table_latest_'] > thead > tr > th, table[id^='table_latest_'] > tbody > tr > td
{
	
	text-align: center;
	vertical-align: middle;
}

#table_game_battingAway > tfoot > tr > td,
#table_game_battingHome > tfoot > tr > td,
#table_game_pitchingAway > tfoot > tr > td,
#table_game_pitchingHome > tfoot > tr > td,
#table_game_fieldingAway > tfoot > tr > td,
#table_game_fieldingHome > tfoot > tr > td,
#table_batting_all_summary > tfoot > tr > td,
#table_fielding_all_summary > tfoot > tr > td,
#table_fielding_player > tfoot > tr > td,
#table_player_yearBatting > tfoot > tr > td,
#table_player_yearBatting3PA > tfoot > tr > td,
#table_player_yearBattingPercent > tfoot > tr > td,
#table_player_Fielding > tfoot > tr > td,
#table_player_yearPitching > tfoot > tr > td,
#table_player_yearPitching5IP > tfoot > tr > td{
	
	background:rgb(149,149,149);
	color:white;
}

.panel-heading-batting{
	
	background-color: rgb(179,0,0) !important;
	color: white !important;
}

.panel-heading-pitching{
	
	background-color: rgb(51,122,183) !important;
	color: white !important;
}

.panel-heading-fielding{
	
	background-color: rgb(0,179,0) !important;
	color: white !important;
}

.hideFirst{
	
	display:none;
}

.wrapperForScrollbar{
	border: none;
	overflow-x: auto;
	overflow-y:hidden;
	height:20px;
}

.fakeContentForScrollBar{
	height:20px;
	overflow:auto;
}

.sorting{
	
	background-color:rgba(173,216,230,0.7) !important;
}

#records * div.recordsContent * a{
	
	color: blue;
}

#records * div.recordsContent * tfoot * a{
	
	color: white;
	text-decoration: underline;
}

#records * div.recordsContent * a:hover{
	
	color: #1D9B6C;
}

/*
#table_batting_all * a, #table_pitching_all * a, #table_pitching_allInYear * a{
	
	color: blue;
}

#table_batting_all * a:hover, #table_pitching_all * a:hover, #table_pitching_allInYear * a:hover{
	
	color: #1D9B6C;
}
*/

#table_batting_all tbody tr:hover td, #table_batting_all tbody tr:hover th,
#table_pitching_all tbody tr:hover td, #table_pitching_all tbody tr:hover th,
#table_pitching_allInYear tbody tr:hover td, #table_pitching_allInYear tbody tr:hover th,
#table_fielding_allPOS_P tbody tr:hover td, #table_fielding_allPOS_P tbody tr:hover th,
#table_fielding_allPOS_C tbody tr:hover td, #table_fielding_allPOS_C tbody tr:hover th,
#table_fielding_allPOS_1B tbody tr:hover td, #table_fielding_allPOS_1B tbody tr:hover th,
#table_fielding_allPOS_2B tbody tr:hover td, #table_fielding_allPOS_2B tbody tr:hover th,
#table_fielding_allPOS_3B tbody tr:hover td, #table_fielding_allPOS_3B tbody tr:hover th,
#table_fielding_allPOS_SS tbody tr:hover td, #table_fielding_allPOS_SS tbody tr:hover th,
#table_fielding_allPOS_LF tbody tr:hover td, #table_fielding_allPOS_LF tbody tr:hover th,
#table_fielding_allPOS_CF tbody tr:hover td, #table_fielding_allPOS_CF tbody tr:hover th,
#table_fielding_allPOS_RF tbody tr:hover td, #table_fielding_allPOS_RF tbody tr:hover th,
#table_fielding_allPOS_SF tbody tr:hover td, #table_fielding_allPOS_SF tbody tr:hover th,
#table_fielding_all tbody tr:hover td, #table_fielding_all tbody tr:hover th,{
  background-color: #FFB732;
  //color:white;
}

tr.nonActive{
	background-color: rgb(230,230,230) !important;
}

td.middleTitle{
	background:rgba(235,235,235,0.7);
	width: 30%;
}

td.pk_value{
	width: 35%;
} 

td.win{
	background:rgba(173,216,230,0.7);
}

#table_batting_player > tbody > tr > td,
#table_batting_player3PA > tbody > tr > td,
#table_pitching_all_summary > tbody > tr > td,
#table_pitching_player > tbody > tr > td,
#table_pitching_playerIP > tbody > tr > td,
#table_team_batting_summary > tbody > tr > td,
#table_team_pitching_summary > tbody > tr > td,
#table_team_fielding_summary > tbody > tr > td,
#table_cup_batting_summary > tbody > tr > td,
#table_cup_pitching_summary > tbody > tr > td,
#table_cup_fielding_summary > tbody > tr > td,
#table_player_BattingMax > tbody > tr > td,
#table_player_PitchingMax > tbody > tr > td,
#table_order_player_Summary > tbody > tr > td
{	
	background:rgba(235,235,235,0.7);
}

#table_pitching_all_IP > tbody > tr > td,
#table_pitching_playerIP > tbody > tr > td,
#table_lucky > thead > tr > th, #table_lucky > tbody > tr > td,
#table_rider > thead > tr > th, #table_rider > tbody > tr > td,
#table_continuity_batting > thead > tr > th, #table_continuity_batting > tbody > tr > td,
#table_continuity_fielding > thead > tr > th, #table_continuity_fielding > tbody > tr > td,
#table_continuity_pitching > thead > tr > th, #table_continuity_pitching > tbody > tr > td,
table[id^='table_max_'] > thead > tr > th, table[id^='table_max_'] > tbody > tr > td,
table[id^='table_latest_'] > thead > tr > th, table[id^='table_latest_'] > tbody > tr > td
{	
	white-space: nowrap;
}

.borderline{
	
	border-top: 5px #bbb solid;
}

/*/////////// Bar Chart /////////////*/

// VARIABLES
$default-delay: .2s;
$bars: 15;
$graph-height: 303px;

// MIXINS

// Animation Mixin 
@mixin bar-animation($time, $dimension) {
  visibility: hidden;
  @if $dimension == width {
    width: 0;
    -webkit-animation: animate-width; 
    -moz-animation: animate-width;
    animation: animate-width;
  }
  @if $dimension == height {
    height: 0;
    -webkit-animation: animate-height; 
    -moz-animation: animate-height;
    animation: animate-height;
  }
  animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -webkit-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -moz-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  animation-duration: $time*2;
  -webkit-animation-duration: $time*2;
  -moz-animation-duration: $time*2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

//STYLES

#bar-chart {
  height: 400px;
  width: 70%;
  position: relative;
  margin: 50px auto 0 100px;
  * {
   box-sizing: border-box; 
  }
  .graph {
    height: 333px;
    position: relative; 
  }
  .bars {
    height: $graph-height;
    padding: 0 2%;
    position: absolute;
    width: 100%;
    z-index: 10; 
  }
  .bar-group {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 12%;
    margin-right: 10%;
    &:last-child {
		margin-right: 0; 
    }
    .bar {
      @include bar-animation($default-delay, height);
      box-shadow: 1px 0 2px rgba(0,0,0,.15);
      border: 1px solid #2d2d2d; 
      border-radius: 3px 3px 0 0;
      bottom: 0;
      cursor: pointer;
      height: 0;
      position: absolute;
      text-align: center;
      width: 10%;
      span {
       display: none; 
      }
    }
    
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .x-axis {
    bottom: 0;
    position: absolute;
    text-align: center;
	white-space: nowrap;
    //width: 100%;
    li {
      float: left;
      //margin-right: 10.5%;
      font-size: 14px;
      width: 100%;
	  text-align: center;
    }
  }
  .y-axis {
    position: absolute;
    text-align: right;
    //width: 100%;
	li {
      border-top: 1px solid #4e5464;
      display: block;
      height: $graph-height/4;
	  //width: 100%;
      span {
        display: block;
        font-size: 14px;
        margin: -10px 0 0 -60px;
        padding: 0 10px;
        width: 40px;  
      }
    }
  }
  .y-title{
	  width: 30px;
	  height: 100%;
	  position:absolute;
	  left: -85px;
	  text-align: center;
	  font-size: 14px;
	  line-height:100px;
  }
  
  .graphSummary{
	  margin-left: -5px;
	  padding: 0 15px 0 5px;
	  width: auto;
	  height: auto;
	  background:rgba(255,255,255,1);
	  position:absolute;
	  white-space: nowrap;
	  
  }
}

#div_batting_Graph{
	
	height: 450px;
}

table[id^="table_king"] > thead > tr > th, table[id^="table_king"] > tbody > tr > td{
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

table[id^="table_king"] > thead > tr > th{
	
	background:rgba(192,192,192,0.7);	
}

div[id^="div_king_"]{
	
	margin-bottom: 10px;
}

.col_Thunbnail{
	
	width: 50%;
}