// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#records{
	
	background: white;
	padding-top: 25px;
	padding-bottom: 20px;
	color: black;
}

#records * h1, #records * h2, #records * h3, #records * h4{
	
	margin: 0 0;
}

#records_sidebar{
	
	padding-bottom: 30px;
}

#records_sidebar * {
	
	color: #777777;
}

#table_game_oneyear > thead > tr > th, #table_game_oneyear > tbody > tr > td{
	
	text-align: center;
	vertical-align: middle;
}

#table_game_oneyear > thead > tr > th, #table_batting_all_summary > thead > tr > th{
	
	background:rgba(192,192,192,0.7);
}

#div_game_oneyear{
	
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#table_game_scoreboard{
	
	background:#30334F;
	color: white;
	font-size: 1.2em;
}

#table_game_scoreboard > tbody > tr > td:not(.board){
	
	text-align: center;
	vertical-align: middle;
	border-top: none !important;
	
}

img.teamLogo{
	
	//border-radius: 10px;
	//padding: 10px 10px;
	//border: 1px solid #e3e3e3;
}

#table_game_battingAway > thead > tr > th, #table_game_battingAway > tbody > tr > td, #table_game_battingAway > tfoot > tr > td,
#table_game_battingHome > thead > tr > th, #table_game_battingHome > tbody > tr > td, #table_game_battingHome > tfoot > tr > td,
#table_game_pitchingAway > thead > tr > th, #table_game_pitchingAway > tbody > tr > td, #table_game_pitchingAway > tfoot > tr > td,
#table_game_pitchingHome > thead > tr > th, #table_game_pitchingHome > tbody > tr > td, #table_game_pitchingHome > tfoot > tr > td,
#table_game_fieldingAway > thead > tr > th, #table_game_fieldingAway > tbody > tr > td, #table_game_fieldingAway > tfoot > tr > td,
#table_game_fieldingHome > thead > tr > th, #table_game_fieldingHome > tbody > tr > td, #table_game_fieldingHome > tfoot > tr > td,
#table_batting_all_summary > thead > tr > th, #table_batting_all_summary > tbody > tr > td, #table_batting_all_summary > tfoot > tr > td{
	
	text-align: center;
	vertical-align: middle;
}

#table_game_battingAway > tfoot > tr > td,
#table_game_battingHome > tfoot > tr > td,
#table_game_pitchingAway > tfoot > tr > td,
#table_game_pitchingHome > tfoot > tr > td,
#table_game_fieldingAway > tfoot > tr > td,
#table_game_fieldingHome > tfoot > tr > td,
#table_batting_all_summary > tfoot > tr > td{
	
	background:rgb(149,149,149);
	color:white;
}

.panel-heading-batting{
	
	background-color: rgb(179,0,0) !important;
	color: white !important;
}

.panel-heading-pitching{
	
	background-color: rgb(51,122,183) !important;
	color: white !important;
}

.panel-heading-fielding{
	
	background-color: rgb(0,179,0) !important;
	color: white !important;
}

.hideFirst{
	
	display:none;
}

#wrapperForScrollbar{
	border: none;
	overflow-x: auto;
	overflow-y:hidden;
	height:20px;
}

#fakeContentForScrollBar{
	height:20px;
	overflow:auto;
}

.sorting{
	
	background-color:lightblue !important;
}

#table_batting_all * a{
	
	color: blue;
}

#table_batting_all * a:hover{
	
	color: #1D9B6C;
}

#table_batting_all tbody tr:hover td, #table_batting_all tbody tr:hover th {
  background-color: #dcdcdc;
}